:root{
    --main-color-gunmetal: #292F36;
    --main-color-lapislazuri: #33658A;
    --main-color-carolinablue: #86BBD8;
    --main-color-hyundaiyellow: #F6AE2D;
    --main-color-pantone: #F26419;
}

body {
    background: linear-gradient(-45deg, #F6AE28, #F26419, #FB3640);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
